/* Estilo padrão para itens do menu */
.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff !important; /* Texto branco para garantir visibilidade */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, margin-left 0.3s;
    background-color: transparent !important; /* Fundo transparente para itens não selecionados */
}

/* Efeito de seleção */
.active-link {
    background-color: #005bb5 !important;
    color: white !important;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombreamento para o item selecionado */
}

/* Efeito de hover */
.nav-link:hover,
.nav-link.hover-effect:hover {
    background-color: #005bb5 !important; /* Fundo azul escuro para hover */
    margin-left: 10px;
    color: white !important;
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombreamento para hover */
}

/* Garante que o ícone e o texto fiquem visíveis mesmo em itens inativos */
.nav-link .MuiSvgIcon-root,
.nav-link span {
    color: #ffffff !important; /* Força a cor branca para ícones e texto */
}

/* Estilo do botão Editar Perfil */
.edit-profile {
    margin-top: 10px;
    width: 70% !important;
    padding: 4px 8px !important;
    font-size: 0.75rem !important;
    color: #000 !important;
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    text-align: center !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}

/* Efeito de hover */
.edit-profile:hover {
    background-color: #f0f0f0;
}