.list-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    border-radius: 7px;
}

.table-header-container {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #FFFFFF;
    border-bottom: 1px solid #EAECF0;
}

.table-row-header{
    background: #FCFCFD;
    color: #667085;
    border-bottom: 0.961594px solid #EAECF0;
    text-align: center;
}

.sort-button {
    color: #000000;
}

.table-row-data {
    text-align: center;
} 

.pagination-container {
    display: flex;
    justify-content: center;
    padding: 1rem;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 100;
}

.pagination-container .btn {
    margin: 0 5px;
}

/* Container de busca ao lado do título e subtítulo */
.search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Ajuste de largura */
    max-width: 300px;
}

.status-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px; /* Para separar o círculo do texto */
    display: inline-block;
}

/* Círculo verde para "Ativo" */
.bg-success-circle {
    background-color: #28a745; /* Verde */
}

/* Círculo cinza para "Inativo" */
.bg-secondary-circle {
    background-color: #4d4f5093; /* Cinza */
}

/* Texto claro para contraste adequado */
.text-light {
    color: #ffffff;
}

.table-row-data.status-column {
    text-align: center;
    vertical-align: middle;
}

.status-column {
    display: flex;
    justify-content: center;
    align-items: center;
}