.list-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    background: #FFFFFF;
    border-radius: 7px;
}

.table-header-container {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #FFFFFF;
    border-bottom: 1px solid #EAECF0;
}

.table-row-header{
    background: #FCFCFD;
    color: #667085;
    border-bottom: 0.961594px solid #EAECF0;
    text-align: center;
}

.sort-button {
    color: #000000;
}

.table-row-data {
    text-align: center;
} 

.pagination-container {
    display: flex;
    justify-content: center;
    padding: 1rem;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 100;
}

.pagination-container .btn {
    margin: 0 5px;
}