* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e bordas sejam incluídos na largura e altura */
}

body {
    overflow-x: hidden; /* Previne rolagem horizontal indesejada */
    font-family: 'Inter', sans-serif; /* Define uma fonte global, se necessário */
}