.action-menu-container {
    position: relative;
    display: inline-block;
}

.action-menu {
    position: absolute;
    top: 0%;
    right: 100%;
    background-color: #007bff;
    border: 1px solid #dddddd63;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    opacity: 85%;
}

.action-menu-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    color: #ddd;
}

.action-menu-item:hover {
    background-color: #f0f0f056;
}

.action-button {
    cursor: pointer;
}