.side-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;

    width: 280px;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: #0056d9;
    color:white;
}

.logo h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 40px;
}   
.side-menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 10px;

    width: 268px;
    height: 660px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    padding: 0;
}
  
nav ul li {
    margin: 20px 0;
}
  
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
  
nav ul li a:hover {
    background-color: #007bff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
  
nav ul li a svg {
    margin-right: 10px;
}
  
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin-bottom: 100px;

    width: 268px;
    height: auto;
    margin-top: auto;

    margin-bottom: 50px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.profile-block {
    display: flex;
    align-items: center;
}

.profile-icon {
    width: 50px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    border-radius: 50%; /* Faz a imagem ficar circular */
    object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorcer */
    margin-right: 15px; /* Espaçamento entre o ícone e o texto */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.profile-name {
    font-size: 18px;
    font-weight: bold;
}
  
.profile-type {
    font-size: 14px;
    color: #6c757d;
}
   
.edit-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
    gap: 10px;

    color: #000000;

    width: 172px;
    height: 18px;

    background: #FFFFFF;
    border-radius: 5px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
  
.edit-profile:hover {
    background-color: #f0f8ff; /* Efeito hover com fundo mais claro */
}
  
.edit-profile:active {
    background-color: #e0f0ff; /* Cor um pouco mais escura ao clicar */
}